#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.form-contanier {
  width: 800px;
}
.main-container {
  align-self: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.amount-container,
.tip-container,
.button-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="number"] {
  width: 95%;
  padding: 10px;
  border: 2px solid #008000;
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 128, 0, 0.1);
  background: linear-gradient(145deg, #efffed, #c8eccb);
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #006400;
}

input[type="number"]::placeholder {
  color: #006400;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

h2 {
  margin-top: 20px;
  color: #333;
  text-align: center;
}

@keyframes billFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

input[type="number"] {
  animation: billFloat 3s ease-in-out infinite;
}
